<a id="buttons"></a>
<h1>Buttons</h1>
<button class="btn btn-lg btn-default">button</button>
<button class="btn btn-lg btn-primary">button</button>
<button class="btn btn-lg btn-success">button</button>
<button class="btn btn-lg btn-info">button</button>
<button class="btn btn-lg btn-warning">button</button>
<div class="btn-group">
    <button type="button" class="btn btn-lg btn-danger">button</button>
    <button type="button" class="btn btn-lg btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>


<br><br>
<button class="btn btn-md btn-default">button</button>
<button class="btn btn-md btn-primary">button</button>
<button class="btn btn-md btn-success">button</button>
<button class="btn btn-md btn-info">button</button>
<button class="btn btn-md btn-warning">button</button>
<div class="btn-group">
    <button type="button" class="btn btn-md btn-danger">button</button>
    <button type="button" class="btn btn-md btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>


<br><br>
<button class="btn btn-sm btn-default">button</button>
<button class="btn btn-sm btn-primary">button</button>
<button class="btn btn-sm btn-success">button</button>
<button class="btn btn-sm btn-info">button</button>
<button class="btn btn-sm btn-warning">button</button>
<div class="btn-group">
    <button type="button" class="btn btn-sm btn-danger">button</button>
    <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>


<br><br>
<button class="btn btn-xs btn-default">button</button>
<button class="btn btn-xs btn-primary">button</button>
<button class="btn btn-xs btn-success">button</button>
<button class="btn btn-xs btn-info">button</button>
<button class="btn btn-xs btn-warning">button</button>
<div class="btn-group">
    <button type="button" class="btn btn-xs btn-danger">button</button>
    <button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>

