<a id="input-groups"></a>
<h1>Input Groups</h1>
<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
</div>
<br>
<div class="input-group input-group-md">
    <span class="input-group-addon" id="sizing-addon2">@</span>
    <input type="text" class="form-control eighty" placeholder="Username" aria-describedby="sizing-addon2">
</div>
<br>
<div class="input-group input-group-sm">
    <span class="input-group-addon" id="sizing-addon3">@</span>
    <input type="text" class="form-control sixty" placeholder="Username" aria-describedby="sizing-addon3">
</div>
<br>
