<a id="labels"></a>
<h1>Labels</h1>
<h1 class="line-height-h1"><span class="label label-default">label</span>
<span class="label label-primary">label</span>
<span class="label label-success">label</span>
<span class="label label-info">label</span>
<span class="label label-warning">label</span>
<span class="label label-danger">label</span></h1>


<br><br>
<h2 class="line-height"><span class="label label-default">label</span>
<span class="label label-primary">label</span>
<span class="label label-success">label</span>
<span class="label label-info">label</span>
<span class="label label-warning">label</span>
<span class="label label-danger">label</span></h2>


<br><br>
<h3 class="line-height"><span class="label label-default">label</span>
<span class="label label-primary">label</span>
<span class="label label-success">label</span>
<span class="label label-info">label</span>
<span class="label label-warning">label</span>
<span class="label label-danger">label</span></h3>


<br><br>
<h4 class="line-height"><span class="label label-default">label</span>
<span class="label label-primary">label</span>
<span class="label label-success">label</span>
<span class="label label-info">label</span>
<span class="label label-warning">label</span>
<span class="label label-danger">label</span></h4>

