<a class="panels"></a>
<h1>Panels</h1>
<div class="col-md-4">
<div class="panel panel-default">
    <div class="panel-heading">Panel Default</div>
    <div class="panel-body">
        <p>Hey! I'm a panel!</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
    </ul>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-primary">
    <div class="panel-heading">Panel Primary</div>
    <div class="panel-body">
        <p>Hey! I'm a panel!</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
    </ul>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-success">
    <div class="panel-heading">Panel Success</div>
    <div class="panel-body">
        <p>Hey! I'm a panel!</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
    </ul>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-info">
    <div class="panel-heading">Panel Info</div>
    <div class="panel-body">
        <p>Hey! I'm a panel!</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
    </ul>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-warning">
    <div class="panel-heading">Panel Warning</div>
    <div class="panel-body">
        <p>Hey! I'm a panel!</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
    </ul>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-danger">
    <div class="panel-heading">Panel Danger</div>
    <div class="panel-body">
        <p>Hey! I'm a panel!</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
    </ul>
</div>
</div>